# Configure DNS
/ip dns set servers="{{ mikrotik_dns['servers'] | default([]) | join(',') }}"
/ip dns set allow-remote-requests="{{ mikrotik_dns['allow-remote-requests'] | default(false) | bool | ternary('yes', 'no') }}"
/ip dns set max-udp-packet-size="{{ mikrotik_dns['max-udp-packet-size'] | default(4096) }}"
/ip dns set query-server-timeout="{{ mikrotik_dns['query-server-timeout'] | default('2s') }}"
/ip dns set query-total-timeout="{{ mikrotik_dns['query-total-timeout'] | default('10s') }}"
/ip dns set max-concurrent-queries="{{ mikrotik_dns['max-concurrent-queries'] | default(100) }}"
/ip dns set max-concurrent-tcp-sessions="{{ mikrotik_dns['max-concurrent-tcp-serssions'] | default(20) }}"
/ip dns set cache-size="{{ mikrotik_dns['cache-size'] | default('2048KiB') }}"
/ip dns set cache-max-ttl="{{ mikrotik_dns['cache-max-ttl'] | default('1w') }}"

# Configure static records


{% if mikrotik_dns['static_records'][0] is defined %}
# Delete old records
/ip dns static remove [/ip dns static find where !( \
{% for st in mikrotik_dns['static_records'] %}
{% if not loop.first %} or {% endif %} (name="{{ st['name'] | default('') }}" address="{{ st['address'] }}" regexp="{{ st['regexp'] | default('') }}") \
{% endfor %}
)]

{% else %}
# Delete old records
/ip dns static remove [/ip dns static find ]
{% endif %}

# Create new records
{% for st in mikrotik_dns['static_records'] %}
:if ( [/ip dns static find where (name="{{ st['name'] | default('') }}" address="{{ st['address'] }}" regexp="{{ st['regexp'] | default('') }}")] = "") do={
# Create record name="{{ st['name'] | default('') }}" address="{{ st['address'] }}" regexp="{{ st['regexp'] | default('') }}"
/ip dns static add name="{{ st['name'] | default('') }}" address="{{ st['address'] }}" regexp="{{ st['regexp'] | default('') }}"
}

# Set parameters for record name="{{ st['name'] | default('') }}" address="{{ st['address'] }}" regexp="{{ st['regexp'] | default('') }}"
/ip dns static set [/ip dns static find where (name="{{ st['name'] | default('') }}" address="{{ st['address'] }}" regexp="{{ st['regexp'] | default('') }}")] \
name="{{ st['name'] | default('') }}" address="{{ st['address'] }}" regexp="{{ st['regexp'] | default('') }}" comment="Ansible managed: [{{ st['comment'] }}]" \
disabled="{{ st['disabled'] | default(false) | bool | ternary('yes', 'no') }}" ttl="{{ st['ttl'] | default('1d') }}"

# End set parameters for record name="{{ st['name'] | default('') }}" address="{{ st['address'] }}" regexp="{{ st['regexp'] | default('') }}"
{% endfor %}
